
<html>
<head>
  <base href="/">
  <title>AcmeWine</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="myApp">

<button class="saved-orders" ng-click="showSaved = true" ng-hide="showSaved">View Orders Saved to Database</button>
  <div ng-show="showSaved">
    <button class="saved-orders" ng-click="showSaved = false">Return to Home </button>

    <p>
      <h3>Previously saved orders:</h3> <br>
      <% if @orders %>
        <% @orders.each do |order| %>
        <p>
          <div class="order-keys">order id: </div> <%= order.order_id %> <br>
          <div class="order-keys">customer name: </div><%= order.name %> <br>
          <div class="order-keys">email: </div><%= order.email %> <br>
          <div class="order-keys">state: </div><%= order.state %> <br>
          <div class="order-keys">birthday: </div><%= order.birthday %> <br>
          <div class="order-keys">zipcode: </div><%= order.zipcode %> <br>
          <div class="order-keys">valid order? </div><%= order.validity %> <br>
        </p>
        <% end %>
      <% end %>
    </p>

  </div>

<%= yield %>

</body>
</html>
