
<html>
<head>
  <base href="/">
  <title>AcmeWine</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="myApp">

<button ng-click="showSaved = true">View saved orders </button>
  <div class="saved-orders" ng-show="showSaved">
    Previously saved orders: <br>
    <% if @all_imports %>
      <% @all_imports.each do |import| %>
      <%= import["content"] %>
      <% end %>
    <% end %>
  </div>

<%= yield %>

</body>
</html>
