
<html>
<head>
  <base href="/">
  <title>AcmeWine</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="myApp">

<button class="saved-orders" ng-click="showSaved = true" ng-hide="showSaved">View Orders Saved to Database</button>
  <div ng-show="showSaved">
    <button class="saved-orders" ng-click="showSaved = false">Return to Home </button>

    <p>
      Previously saved orders: <br>
      <% if @all_imports %>
        <% @all_imports.each do |import| %>
        <%= import["content"] %>
        <% end %>
      <% end %>
    </p>

  </div>

<%= yield %>

</body>
</html>
